*{
    font-family: 'DM Sans', sans-serif;
}
body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100rem;
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "sec1"
    "sec2"
    "noticias"
    "contacto"
    "footer";
    grid-template-rows: 3% 25% 35% 32% 35% 32% 10%;
}
nav{
    grid-area: nav;
    background-color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
header{
    grid-area: header;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("Materiales/manos.jpg");
    text-align: center;
    color: white;
}
#central{
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    margin-top: 10%;
}
#sec1{
    grid-area: sec1;
    background-image: linear-gradient(rgb(82,152,255),rgb(28, 120, 253));
}
#contenedorEmpresa{
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}
#textoEmpresa{
    padding: 5%;
}
#contenedorVoluntariado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
h2{
    margin: 0;
    font-weight:normal;
}
#voluntariado{
    padding: 4%;   
}
.textoArt{
    font-size: small;
}
#sec2{
    grid-area: sec2;
    background-color: white;
    text-align: center;
    margin-top: 7%;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
}
#contenedorTarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjeta{
    width: 20%;
    height: 12rem;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
}
.iconoMas{
    width: 7%;
    height: 10%;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}
.iconoTarjeta{
    width: 25%;
    height: 25%;
    float: left;
    margin-left: 15%;
    margin-top: 15%;
}
#manoVoluntario{
    height: 35%;
    width: 15%;
}
#tituloVoluntario{
    margin-right: 20%;
}
#serVoluntario{
    background-color:rgb(220, 53, 69);
}
#donar{
    background-color: rgb(255, 156, 7);
}
#reciclar{
    background-color: rgb(40, 167, 69);
}
#llamadosLaborales{
    background-color: rgb(23, 162, 184);
}
.tituloTarjeta{
    color: white;
    margin-top: 50%;
    margin-right: 40%;
}
#noticias{
    grid-area: noticias;
    background-image: linear-gradient(rgb(82,152,255),rgb(28, 120, 253));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
}
#contacto{
    grid-area: contacto;
    background-color: white;  
    display: flex; 
    flex-direction: row;
}
#imgContacto{
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
#tituloContacto{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 22%;
}
#contenedorImagenContacto{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
}
#contenedorContacto{
    width: 40%;   
}
#contenedorFormulario{
    display: flex;
    flex-direction: row;
}
#textoMensaje{
    border-radius: 1rem;
    width: 15rem;
    height: 80%;
    margin-left: 20%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.textoDato{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2.5%;
}
#tituloMensaje{
    margin-left: 20%;
}
footer{
    grid-area: footer;
    background-color: rgb(82, 39, 204);
}
#contenedorFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.lista{
    margin-right: 25%;
}
.lista li{
    display: inline;
    padding: 2rem;
    font-size: small;
}
#boton{
    background-color: rgb(82, 39, 204);
    color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    border-color: rgb(82, 39, 204);
    font-size: 11px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
#botonEnviar{
    background-color: rgb(82, 39, 204);
    color: white;
    width: 13%;
    height: 6%;
    border-radius: 15px;
    border-color: rgb(82, 39, 204);
    font-size: 11px;
    margin-left: 45%;
    margin-top: 5%;
}
#listaFooter{
    color: white;
    list-style-type: none;
    width: 17%;
    margin-left: 3%;
}
#listaFooter li{
    padding: 1%;
    font-size: small;
}
#logoBlanco{
    margin-left: 15%;
    margin-top: 1%;
}
#footerIzquierda{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}
#seguinos{
    color: white;
}
#copyright{
    background-color: rgb(82, 39, 204);
    text-align: center;
    font-size: small;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50rem;
    height: 30rem;
    border: solid 0.5px white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
}
.close-button {
    float: right;
    text-align: center;
    width: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 1%;
    margin-right: 3%;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
#imagenModal{
    width: 50%;
    height: 100%;
    border-end-start-radius: 1.5rem;
    border-start-start-radius: 1.5rem;
}
#contenedorModal{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#modalOpciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modalTitulo{
    text-align: center;
    margin-top: 7%;
    font-weight: 900;
}
#miEmpresa{
    width: 80%;
    height: 40%;
    border: solid 0.5px white;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    margin-top: 5%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#miOrganizacion{
    width: 80%;
    height: 40%;
    border: solid 0.5px white;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    margin-top: 5%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#imagenEmpresa{
    background-color: rgb(28, 120, 253);
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-end-start-radius: 1.5rem;
    border-start-start-radius: 1.5rem;
}
#imagenOrganizacion{
    background-color: rgb(82, 39, 204);
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-end-start-radius: 1.5rem;
    border-start-start-radius: 1.5rem;

}
#infoOrganizacion{
    width: 80%;
    margin-left: 5%;
}
#infoEmpresa{
    width: 80%;
    margin-left: 5%;
}
.flecha{
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
}
.flechaRotada{
    transform: rotate(180deg);
    margin-left: 2%;
    margin-top: 5%;
}
#volverAtras{
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
}
#tituloOrganizacion{
    color: rgb(82, 39, 204);   
}
#tituloEmpresa{
    color:rgb(28, 120, 253)
}
#noticiasTitulo{
    margin-top: 3%;
    color: white;
    font-size: xx-large;
    font-weight:normal;
    margin-bottom: 0;
}
#textoNoticias{
    margin: 0;
    margin-bottom: 3%;
    font-size: x-small;
    color: white;
}
#carrusel {
    width:90%;
    height:500px;
    overflow: hidden;
    position:relative;
    margin-bottom: 3%;
    display: flex;
    margin-left: 5%;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:5px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:5px;
}
 
.carrusel {
    width:4000px;
    height: 600px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 303px;
    margin-right: 5px;
    width: 195px;
}

.product {
    border: rgb(28, 120, 253) 1px solid;
    border-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
}
#product_0{
    width: 6.35%;
    height:24rem;
}
#product_1{
    width: 6.35%;
    height:24rem;
}
#product_2{
    width: 6.35%;
    height:24rem;
}
#product_3{
    width: 6.35%;
    height:24rem;
}
#product_4{
    width: 6.35%;
    height:24rem;
}
#product_5{
    width: 6.35%;
    height:24rem;
}
.imagenNoticia{
    width: 100%;
    height: 40%;
    border-radius: 0.5rem;
    z-index: 1;
}
.infoNoticia{
    margin-top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
}
.reloj{
    margin-left: 5rem;
}
.botonNoticia{
    position: relative;
    bottom: 9%;
    right: 30%; 
    z-index:2;
    font-size: x-small;
    background-color: rgb(119, 73, 248);
    border: solid 1px rgb(119, 73, 248);
    border-radius: 0.5rem;
    color: white;
    margin: 0;
}
.contenidoNoticia{
    text-align: left;
    margin: 0;
    width: 93%;
    margin-left: 5%;
}
.cuerpoNoticia{
    font-size:small;
    color: rgba(0, 0, 0, 0.5);
}
.subtituloNoticia{
    margin-bottom: 10%;
}
.finNoticia{
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    margin-right: 10%;
}
.flecha2{
    width: 10px;
    height: 10px;
    margin-right: 3%;
}

@media only screen and (max-width:391px){
    body{
        margin: 0; 
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "nav"
        "header"
        "sec2"
        "contacto"
        "footer";
        grid-template-rows: 0.15fr 0.4fr 2fr 1fr 0.15fr;
        grid-template-columns: 100%;
    }
    nav{
        grid-area: nav;
    }
    #noticias{
        display: none;
    }
    #sec1{
        display: none;
    }
    nav ul{
        display: none;
    }
    header{
        grid-area: header;
        background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url("Materiales/manos.jpg") ;
        background-position-x: center;
        background-position-y: center;
        text-align: center;
        color: white;
    }
    header p{
        display: none;
    }
    #sec2{
        grid-area: sec2;
        text-align: center;
        margin: 0;
    }
    #sec2 h2{
        padding-top: 3%;
    }
    #oportunidades{
        background-color: rgb(28, 120, 253);
        color: white;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        padding-bottom: 5%;
    }
    #contenedorTarjetas{
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tarjeta{
        width: 42%;
        font-size: small;
        height: 8.5rem;
        margin: 2%;
        border-radius: 15px;
        box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
    }
    #contenedorFormularioDos{
        margin-right: 15%;
    }
    #textoMensaje{
        border-radius: 1rem;
        width: 14rem;
        height: 5rem;
        margin-left: 20%;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    #botonEnviar{
        float: left;
    }
    #contacto{
        grid-area: contacto;
        background-color: white;  
        display: flex; 
        flex-direction: column;
        text-align: center;
    }
    #tituloContacto{
        font-size: xx-large;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        background-color: rgb(28, 120, 253);
        color: white;
        font-weight: normal;
        box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.5);
    }
    #contenedorImagenContacto{
        display: none;
    }
    #contenedorContacto{
        width: 100%;   
    }
    #contenedorFormulario{
        display: flex;
        flex-direction: column;
    }
    footer ul{
        display: none;
    }
    #footerIzquierda{
        display: none;
    }
    #contenedorFooter{
        grid-area: footer;
        align-items: center;
        justify-content: center;
    }
    #contenedorFooter img{
        margin-right: 15%;
    }
    .modal{
        width: 390px;
    }
    .modal-content {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 22rem;
        height: 15rem;
        border: solid 0.5px white;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    .modal p{
        display: none;
    }
    .modal h3{
        font-size: small;
    }
}
